<footer class="footer site__footer">
  <div class="container footer__container">
    <div class="footer__inner">
      <nav class="header-nav footer__nav" role="navigation">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <a href="#miner-section" class="js-nav-anchor header-nav__link">Miner</a>
          </li>
          <li class="header-nav__item">
            <a href="#about-section" class="js-nav-anchor header-nav__link">About</a>
          </li>
          <li class="header-nav__item">
            <a href="#roadmap-section" class="js-nav-anchor header-nav__link">Roadmap</a>
          </li>
          <li class="header-nav__item">
            <a href="#tokenomics-section" class="js-nav-anchor header-nav__link">Tokenomics</a>
          </li>
          <li class="header-nav__item">
            <a href="#certificates-section" class="js-nav-anchor header-nav__link">Certificates</a>
          </li>
          <li class="header-nav__item">
            <a href="https://pepe-miner.gitbook.io/pepeminer" target="_blank" class="header-nav__link">Whitepaper</a>
          </li>
        </ul>
      </nav>
      @@include('./sc-block.html', {
        'el': 'footer__sc'
      })
    </div>
  </div>
</footer>