<header class="@@el header">
  <div class="container header__container">
    <div class="header__inner">
      <div class="header__dropdown">
        <nav class="header-nav header__nav" role="navigation">
          <ul class="header-nav__list">
            <li class="header-nav__item">
              <a href="#" class="header-nav__link">О комплексе</a>
            </li>
            <li class="d-lg-none header-nav__item">
              <a href="catalog.html" class="header-nav__link">Каталог объектов</a>
            </li>
            <li class="d-lg-block header-nav__item">
              <a href="#" class="header-nav__link header-nav__link--parking">Парковки</a>
            </li>
            <li class="d-lg-block header-nav__item">
              <a href="#" class="header-nav__link header-nav__link--apartament">Торговые помещения</a>
              <ul class="header-nav__subnav">
                <li><a href="#">АПАРТАМЕНТЫ</a></li>
                <li><a href="#" class="is-active">2 этаж</a></li>
                <li><a href="#">3 этаж</a></li>
                <li><a href="#">4 этаж</a></li>
                <li><a href="#">5 этаж</a></li>
                <li><a href="#">6 этаж</a></li>
              </ul>
            </li>
            <li class="header-nav__item">
              <a href="#" class="header-nav__link">Контакты</a>
            </li>
            <li class="header-nav__item">
              <a href="#" class="header-nav__link">Документация</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__brand">
        <a href="/" class="header__logo">
          <img src="images/logo-brand-theme-white.svg" alt="Рябина комплекс">
        </a>
      </div>
      <button type="button" class="js-header-toggle d-lg-block header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>