<header class="@@el header">
  <div class="container header__container">
    <div class="header__inner">
      <a href="catalog.html" class="d-lg-block link-router header__link-router">
        <svg class="u-icon link-router__icon">
          <use xlink:href="images/icons/icons.svg#arrow-type-1"></use>
        </svg>
        <span class="link-router__title">Назад</span>
      </a>
      <h1 class="title-size-9 header__title">Парковочное место <span class="d-lg-block">&nbsp;21</span></h1>
      <div class="d-lg-none header__brand">
        <p class="header__suptitle title-size-9">№21</p>
      </div>
      <a href="catalog.html" class="js-header-toggle d-lg-none btn-close header__btn-router">
        <svg class="u-icon btn-close__icon">
          <use xlink:href="images/icons/icons.svg#close"></use>
        </svg>
      </a>
    </div>
  </div>
</header>