<div class="@@el sc-block">
  <ul class="sc-block__list">
    <li class="sc-block__item">
      <a href="https://twitter.com/pepeminertoken" class="sc-block__link" target="_blank">
        <svg class="u-icon sc-block__icon">
          <use xlink:href="images/icons/icons.svg#sc-twitter"></use>
        </svg>
      </a>
    </li>
    <li class="sc-block__item">
      <a href="https://t.me/pepeminerportal" class="sc-block__link" target="_blank">
        <svg class="u-icon sc-block__icon">
          <use xlink:href="images/icons/icons.svg#sc-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>