@import 'keyframes';

.container {
  width: 100%;
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 0 var(--gap);
  @media (max-width: $lg) {
  }
}

.row {
  margin: 0 var(--offset-);
  display: flex;
  flex-wrap: wrap;
  &__col {
    max-width: 100%;
    min-height: 1rem;
    padding: 0 var(--offset);
    flex-shrink: 0;
    &--3 {
      max-width: 25%;
      flex-basis: 25%;
    }
    &--4 {
      max-width: 33.333333%;
      flex-basis: 33.333333%;
    }
    &--6 {
      max-width: 50%;
      flex-basis: 50%;
    }
  }
}