@font-face {
  font-family: 'HeliosExtC';
  src: url('../fonts/HeliosExtC.woff2') format('woff2'),
       url('../fonts/HeliosExtC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HeliosExtC';
  src: url('../fonts/HeliosExtThinC.woff2') format('woff2'),
       url('../fonts/HeliosExtThinC.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HeliosExtC';
  src: url('../fonts/HeliosExtLightC.woff2') format('woff2'),
       url('../fonts/HeliosExtLightC.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HeliosExtC';
  src: url('../fonts/HeliosExtC-Bold.woff2') format('woff2'),
       url('../fonts/HeliosExtC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HeliosExtC';
  src: url('../fonts/HeliosExtBlackC.woff2') format('woff2'),
       url('../fonts/HeliosExtBlackC.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HeliosC';
  src: url('../fonts/HeliosC.woff2') format('woff2'),
       url('../fonts/HeliosC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HeliosC';
  src: url('../fonts/HeliosC-Bold.woff2') format('woff2'),
       url('../fonts/HeliosC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}